In [8]:
import pandas as pd
import sqlite3
import config

def query(sql: str) -> pd.DataFrame:
    """
    Execute a query and yield the results
    """
    conn = sqlite3.connect(config.DB_PATH)
    return pd.read_sql_query(sql, conn)

In [29]:
data = query("SELECT * FROM ledger_items")
data

,tx_id,tx_date,tx_datetime,amount,currency,description,account,ledger_item_type
0,9cf6ccb4beb284cdc5f178210cc7c830037f6cc1,2023-02-19,2023-02-19 00:00:00,-72.56000000000000227373675443232059478759765625,EUR,WWW TICKETONE IT,Fineco VISA,expense
1,f7ad3bd000f13690397822b1539f1adfa2ccb3fc,2023-02-18,2023-02-18 00:00:00,-250,EUR,Operazione bancomat,Fineco EUR,expense
2,946282065c1292b883acb3d469499f930aab03bb,2023-02-17,2023-02-17 00:00:00,-1,EUR,PAYPAL *WIKIPEDIA,Fineco VISA,expense
3,c09fcd7c6ed05ae09e394384e8f118301f0f3625,2023-02-17,2023-02-17 00:00:00,-6,EUR,CLESS TICKET ATM MILANO,Fineco VISA,expense
4,2205584dc2b06cc6910ba6488fbb01660b700fd6,2023-02-16,2023-02-16 00:00:00,-6,EUR,CLESS TICKET ATM MILANO,Fineco VISA,expense
...,...,...,...,...,...,...,...,...
3950,5f87319760c85349fc12c1461fc7816144ce6d70,2021-09-30,2021-09-30 00:00:00,-2.8,EUR,CLESS TICKET ATM MILAN MILANO IT (MULTIFUNZION...,Fineco,expense
3951,7e65d33c3df1695ae21faac74034fc47fe426fd7,2021-09-30,2021-09-30 00:00:00,-6.62,EUR,MARKET 0020 MILANO IT (MULTIFUNZIONE CONTACTLE...,Fineco,expense
3952,52baf6f32546be766c38b75a831765fb8a40b9b7,2021-10-03,2021-10-03 11:08:04,-26.2,EUR,www.dominositalia.it,Revolut EUR,expense
3953,ff92d062ef7eab7878815eee7457f9f9c2bed0d4,2021-10-03,2021-10-03 11:08:05,0.02,GBP,Metal Cashback,Revolut GBP,income
3954,6e3d692f89002cc33fd5b99391b152f6b108ad7a,2021-10-05,2021-10-05 03:21:13,-15.99,EUR,netflix.com,Revolut EUR,expense